body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }
.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #c7cdd1;
    --bs-btn-border-color: #c7cdd1;
    --bs-btn-hover-color: #fff;
  }
  .bg-secondary {
    background-color: #c7cdd0 !important;   
  }
  .border-gray {
    border: 1px solid gray;
  }
  .bg-third {
    background-color: #f0f0f0 !important;   
  }

  .bg-gray {
    background-color: #f0f0f0; 
  }

  .btn-light-gray {
    background-color: #c7cdd1; /* 浅灰色背景 */
    color: #000; /* 文字颜色 */
    border: 1px solid #ccc; /* 边框颜色 */
  }
  
  